<footer class="mt-auto bg-dark text-white pt-4 pb-4">
    <div class="container">
        <div class="row">
            <!-- Información de la empresa -->
            <div class="col-md-3 mb-3">
                <li>Accueil</li>
                <li>Accès à l'information</li>
                <li>Actualités</li>
                <li>Bibliothèque</li>
                <li>Le Nucléaire</li>
            </div>

         

            <!-- Información de contacto -->
            <div class="col-md-3 mb-3">
                <h5>Contacto</h5>
                <ul class="list-unstyled">
                    <li><i class="bi bi-geo-alt-fill"></i> Avenue 14 janvier 2011, Ariana – Sidi Thabet</li>
                    <li><i class="bi bi-telephone-fill"></i> +216: 71 552 086 / 71 552 351</li>
        
                    <li><i class="bi bi-envelope-fill"></i> communesidithabet2019@gmail.com</li>
                </ul>
            </div>

            <!-- Redes Sociales -->
            <div class="col-md-3 mb-3">
                <h5>Nos Réseaux Sociaux</h5>
                
                <ul class="list-inline">
                    <li class="list-inline-item"><a href="https://www.facebook.com/share/1BfwFkjJSo/" class="text-white"><i class="bi bi-facebook fs-4"></i></a></li>
                    <li class="list-inline-item"><a href="https://cnstn.rnrt.tn/" class="text-white"><i class="bi bi-google fs-4"></i></a></li>
                    <li class="list-inline-item"><a href="https://www.linkedin.com/company/cnstn/" class="text-white"><i class="bi bi-linkedin fs-4"></i></a></li>
                </ul>
            </div>
        </div>

        <hr class="bg-light">

        <!-- Derechos de autor -->
        <div class="row">
            <div class="col-md-12 text-center">
                <p class="mb-0">&copy; 2025 CNSTN – Centre National des Sciences et Technologies Nucléaires. Tous droits réservés.</p>
            </div>
        </div>
    </div>
</footer>

