<nav class="navbar navbar-expand-sm modern-navbar bg-dark navbar-dark shadow-sm rounded-bottom">
  <div class="container-fluid">
    <a class="navbar-brand d-flex align-items-center" routerLink="/main">
      <img src="assets/image/logo.jpg" alt="CNSTN Logo" class="logo-img me-2">
      <span>CNSTN</span>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/produit">Gestion de produits</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/benificiaires">Bénéficiaires</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/fournisseurs">Gestion des Fournisseurs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/commande">Commandes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/demande">Demandes</a>
        </li>
        
      </ul>
    </div>
  </div>
</nav>
