<div class="carousel-container container-xl" appRevealOnScroll>
  <div id="mainCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="assets/image/imm.webp" class="d-block w-100" alt="Image 1">
        <div class="carousel-caption d-none d-md-block">
          <h3 class="section-title">Laboratoire CNSTN</h3>
          <p>Recherche scientifique et innovation</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="assets/image/im2.jpg" class="d-block w-100" alt="Image 2">
        <div class="carousel-caption d-none d-md-block">
          <h3 class="section-title">Technologie nucléaire</h3>
          <p>Sécurité et modernité au service de la science</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="assets/image/col1.webp" class="d-block w-100" alt="Image 3">
        <div class="carousel-caption d-none d-md-block">
          <h3 class="section-title">Collaboration Internationale</h3>
          <p>Un avenir construit ensemble</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="assets/image/im4.jpg" class="d-block w-100" alt="Image 4">
        <div class="carousel-caption d-none d-md-block">
          <h3 class="section-title">Innovation et Développement</h3>
          <p>Projets de pointe et partenariats stratégiques</p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#mainCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#mainCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#mainCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#mainCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#mainCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#mainCarousel" data-bs-slide-to="3" aria-label="Slide 4"></button>
    </div>
  </div>
</div>

